:root {
    --border: #252e1f;
    --markerColor: solid #2f3624;
    --markerNumberColor: wheat;

    --fulfilledColor: #4e4e4e;
    --headBG: #0f1e0f;
    --headText: #a9c3a8;

    --tileColor: #0a130a;
    --tileHover: #4c534c;
    --tileHoverLight: #304330;

    --dragFillColor: #175117;
    --dragCrossColor: darkred;

    --tileFillColor: wheat;

    --selectorColor: #858508;
    --selectorOutline: yellow;

    --floatColor: #650040;

    /* gui */
    --buttonColor: #809da5;
    --buttonHover: #c5d1e4;
    --buttonActive: #abeeff;
    --buttonShadow: darkslategray;

    --guiColor: darkslategray;
    --backgroundColor: #030c03;
}

:root {
    font-family: monospace;
    color: wheat;
    --markerThickness: 3px;
    --borderThickness: 1px;
    --markerNumberMargin: 0.25rem;
    background-color: var(--backgroundColor);
}
